In [1]:
import numpy as np
import pandas as pd
from nltk.translate.bleu_score import sentence_bleu
from spacy.lang.en.examples import sentences 
import spacy as sp
import nltk
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from nltk.tokenize import word_tokenize
from nltk.corpus import wordnet
#nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
%matplotlib inline
# import zipfile
from textblob import TextBlob
import string
from datetime import datetime  
from datetime import timedelta  
import re

In [2]:
stock = pd.read_csv('data/SP500_intraday.csv')
stock['Time_pd'] = pd.to_timedelta(stock['Time']+':00')
stock['Date_time'] = pd.to_datetime(pd.to_datetime(stock['Date'])+ pd.to_timedelta(stock['Time_pd']))
stock.head()

,Date,Time,Open,High,Low,Close,Volume,Tick Count,Up Ticks,Down Ticks,Same Ticks,VWAP,Time_pd,Date_time
0,11/13/16,17:01,2183.00,2183.50,2182.25,2183.25,2536,326,66,63,197,2183.03,17:01:00,2016-11-13 17:01:00
1,11/13/16,17:02,2183.25,2183.25,2182.00,2182.00,891,141,18,23,100,2182.93,17:02:00,2016-11-13 17:02:00
2,11/13/16,17:03,2182.00,2182.75,2182.00,2182.75,326,71,15,12,44,2182.27,17:03:00,2016-11-13 17:03:00
3,11/13/16,17:04,2182.50,2182.75,2182.50,2182.50,50,35,7,8,20,2182.57,17:04:00,2016-11-13 17:04:00
4,11/13/16,17:05,2182.75,2183.00,2182.75,2183.00,232,33,8,6,19,2182.92,17:05:00,2016-11-13 17:05:00

In [3]:
test_df = pd.read_csv('data/preprocessed', usecols = ['created_at', 'stock_up'])
stock['Date_time'].loc[stock['Date_time'] == test_df['created_at'][0]].index[0]

105

In [7]:
def evaluate(pred_df, stock_df, cash = 1000000, portfolio = 1000):
    for i in range(len(pred_df)):
        current_time = pred_df['created_at'][i]
        #Gets index within stock dataframe of current time
        stock_time_idx = stock_df['Date_time'].loc[stock_df['Date_time'] == current_time].index[0]
        future_time = stock['Date_time'][105]+ timedelta(minutes=5)  
        future_stock_time_idx = stock_df['Date_time'].loc[stock_df['Date_time'] == future_time].index[0]
        if pred_df['stock_up'][i] == 1:
            #Buy now and sell in five minutes
            cost_of_trans = stock_df['Open'][future_stock_time_idx] - stock_df['Close'][stock_time_idx] 
            cash = cash + cost_of_trans
        elif pred_df['stock_up'][i] == 0:
            cost_of_trans = stock_df['Close'][future_stock_time_idx] - stock_df['Open'][stock_time_idx] 
            cash = cash - cost_of_trans
    return cash
evaluate(test_df, stock)

1485545.75

In [6]:
test_df[test_df['stock_up']==0]

               created_at  stock_up
3     2016-11-16 02:55:00         0
5     2016-11-16 12:12:00         0
6     2016-11-16 12:17:00         0
8     2016-11-17 12:46:00         0
9     2016-11-18 02:01:00         0
11    2016-11-21 23:58:00         0
12    2016-11-22 02:14:00         0
13    2016-11-22 02:22:00         0
15    2016-11-22 11:31:00         0
16    2016-11-22 11:36:00         0
21    2016-11-22 17:10:00         0
22    2016-11-23 00:24:00         0
24    2016-11-24 03:30:00         0
25    2016-11-27 20:30:00         0
26    2016-11-27 20:34:00         0
27    2016-11-27 20:41:00         0
28    2016-11-28 00:31:00         0
33    2016-11-29 02:21:00         0
34    2016-11-29 03:03:00         0
35    2016-11-29 11:15:00         0
36    2016-11-29 11:34:00         0
38    2016-11-29 20:59:00         0
39    2016-11-29 23:37:00         0
40    2016-11-30 03:40:00         0
44    2016-11-30 11:44:00         0
46    2016-11-30 11:59:00         0
47    2016-11-30 20:00:00         0
49    2016-12-01 14:37:00         0
51    2016-12-01 22:52:00         0
53    2016-12-04 18:58:00         0
...                   ...       ...
6313  2019-11-04 23:24:00         0
6314  2019-11-05 01:55:00         0
6319  2019-11-05 12:58:00         0
6320  2019-11-05 13:25:00         0
6321  2019-11-05 13:25:00         0
6324  2019-11-05 13:59:00         0
6325  2019-11-05 14:05:00         0
6326  2019-11-05 17:19:00         0
6327  2019-11-05 18:58:00         0
6328  2019-11-05 20:42:00         0
6329  2019-11-06 01:02:00         0
6330  2019-11-06 02:38:00         0
6331  2019-11-06 04:37:00         0
6333  2019-11-06 04:56:00         0
6334  2019-11-06 05:15:00         0
6335  2019-11-06 05:18:00         0
6337  2019-11-06 13:06:00         0
6338  2019-11-06 13:17:00         0
6339  2019-11-06 13:30:00         0
6340  2019-11-06 19:10:00         0
6343  2019-11-06 21:54:00         0
6346  2019-11-07 05:06:00         0
6349  2019-11-07 06:49:00         0
6350  2019-11-07 12:28:00         0
6351  2019-11-07 13:46:00         0
6352  2019-11-07 13:47:00         0
6354  2019-11-07 14:51:00         0
6355  2019-11-07 15:41:00         0
6357  2019-11-08 00:08:00         0
6358  2019-11-08 03:08:00         0

[3595 rows x 2 columns]